html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::before,
* ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

hr {
  margin: 0;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container, .clients-container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section-virtues, .activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.main-section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 94px;
}

header {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}

header a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 85px;
  color: #212121;
}

.active {
  color: #2196f3;
}

.active-header:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color: #2196f3;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
}

.nav-item {
  margin-right: 50px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item a:hover, .nav-item a:focus {
  color: #2196f3;
}

.active a {
  color: #2196f3;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .contacts-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 21px;
    margin-bottom: 21px;
  }
}

.contacts-item {
  margin-right: 50px;
}

.contacts-item:last-child {
  margin-right: 0;
}

.contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-item a {
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  margin-right: 10px;
  fill: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover .header-icon,
.contacts-item:focus .header-icon {
  fill: #2196f3;
}

.contacts-item:hover a,
.contacts-item:focus a {
  color: #2196f3;
}

@media screen and (max-width: 480px) {
  .section-virtues {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .section-virtues {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .section-virtues {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.list-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .list-virtues {
    margin-right: 30px;
  }
}

.list-virtues:last-child {
  margin-right: 0;
}

.virtues-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-virtues {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}

.head {
  width: 270px;
  height: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .head {
    width: 100%;
    text-align: center;
  }
}

.text-virtues {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 480px) {
  .text-virtues {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .activity {
    display: none;
  }
}

.do-container {
  margin-bottom: 94px;
}

.activity-image {
  position: relative;
}

.item-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .main-section-title {
    display: none;
  }
}

.item-title {
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
}

.activity-item-list {
  margin-right: 30px;
}

.activity-item-list:last-child {
  margin-right: 0;
}

.activity-links {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.clients-title {
  margin-top: 94px;
}

.list-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .list-clients {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-clients-item {
    margin-right: 30px;
  }
}

.list-clients-item:last-child {
  margin-right: 0;
}

.box-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  color: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-clients:hover, .box-clients:focus {
  cursor: pointer;
  border-color: #2196f3;
}

.clients-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-clients:hover .clients-icon {
  fill: #2196f3;
}

p {
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  background-color: #2196f3;
  fill: #fff;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 530px;
  padding: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #212121;
}

.input-item {
  height: 40px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  padding-right: 18px;
  cursor: pointer;
}

.input-item:hover .input-svg,
.input-item:focus .input-svg {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.input-item.comment {
  height: 120px;
  padding: 12px 16px;
}

.label-item.comment {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: translate(16px, 12px);
          transform: translate(16px, 12px);
  text-align: start;
}

.input-item:not(:placeholder-shown) ~ .label-item,
.input-item:focus ~ .label-iteml {
  color: #188ce8;
  -webkit-transform: translate(0px, -20px);
          transform: translate(0px, -20px);
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-field:focus-within .input-item {
  border: 1px solid #2196f3;
}

.form-field:focus-within .input-svg {
  fill: #2196f3;
}

.input-item:hover {
  border: 1px solid #2196f3;
}

.label-item {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(42px, 11px);
          transform: translate(42px, 11px);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field:focus-within .label-item {
  color: #188ce8;
  -webkit-transform: translate(0px, -20px);
          transform: translate(0px, -20px);
}

.input-svg {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(100%, 110%);
          transform: translate(100%, 110%);
  fill: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.checkbox-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-label a {
  margin-left: 4px;
}

.checkbox-label::before {
  content: "";
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #000;
  border-radius: 3px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-field:checked ~ .checkbox-label::before {
  background-image: url(../images/accept.svg);
  background-color: #2196f3;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #188ce8;
}

.submit-btn {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  color: #fff;
  border: 1px solid #188ce8;
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:focus,
.submit-btn:hover {
  background-color: #0977d1;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}
/*# sourceMappingURL=main.css.map */