html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::before,
* ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

hr {
  margin: 0;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container .header, .clients-container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.main-section-title, .team-section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 94px;
}

header {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .container .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}

header a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 85px;
  color: #212121;
}

.active {
  color: #2196f3;
}

.active-header:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color: #2196f3;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
}

.nav-item {
  margin-right: 50px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item a:hover, .nav-item a:focus {
  color: #2196f3;
}

.active a {
  color: #2196f3;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .contacts-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 21px;
    margin-bottom: 21px;
  }
}

.contacts-item {
  margin-right: 50px;
}

.contacts-item:last-child {
  margin-right: 0;
}

.contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-item a {
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  margin-right: 10px;
  fill: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover .header-icon,
.contacts-item:focus .header-icon {
  fill: #2196f3;
}

.contacts-item:hover a,
.contacts-item:focus a {
  color: #2196f3;
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../../images/hero-mobile-480-400.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/hero-mobile-480-400.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: auto;
  margin-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../../images/hero-mobile-480-400@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/hero-mobile-480-400@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../../images/hero-tablet-768-400.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/hero-tablet-768-400.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../../images/hero-tablet-768-400@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/hero-tablet-768-400@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../../images/hero-desctop-1600-600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/hero-desctop-1600-600.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../../images/hero-desctop-1600-600@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/hero-desctop-1600-600@2x.jpg);
  }
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 20px 33px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  background-color: #0977d1;
}

.hero-button-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .section-virtues {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .section-virtues {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.list-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .list-virtues {
    margin-right: 30px;
  }
}

.list-virtues:last-child {
  margin-right: 0;
}

.virtues-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-virtues {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}

.head {
  width: 270px;
  height: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .head {
    width: 100%;
    text-align: center;
  }
}

.text-virtues {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .text-virtues {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 900px) {
  .activity {
    display: none;
  }
}

.do-container {
  margin-bottom: 94px;
}

.activity-image {
  position: relative;
}

.item-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .activity-header {
    display: none;
  }
}

.item-title {
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
}

.activity-item-list {
  margin-right: 30px;
}

.activity-item-list:last-child {
  margin-right: 0;
}

.activity-links {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-cntainer {
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-section-title {
  margin-top: 0;
}

.palyers {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .palyers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .palyers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.list-team {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 900px) {
  .list-team {
    margin-right: 30px;
  }
}

.list-team:last-child {
  margin-right: 0;
}

.name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.specialty {
  margin-top: 10px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.social-list-svg {
  margin-right: 10px;
}

.social-list-svg:last-child {
  margin-right: 0;
}

.social-link-svg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1) color 250ms;
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1) color 250ms;
}

.social-link-svg:focus,
.social-link-svg:hover {
  cursor: pointer;
  background-color: #2196f3;
}

.social-icon {
  fill: #afb1b8;
}

.social-link-svg:focus svg,
.social-link-svg:hover svg {
  fill: currentColor;
}

.clients-title {
  margin-top: 94px;
}

.list-clients {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

@media screen and (min-width: 787px) {
  .list-clients {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .list-clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.box-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  color: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-clients:hover, .box-clients:focus {
  cursor: pointer;
  border-color: #2196f3;
}

.clients-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-clients:hover .clients-icon {
  fill: #2196f3;
}

footer {
  color: #ffffff;
  background-color: #2f303a;
}

footer .container {
  margin-top: 60px;
  padding-top: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 28px;
  }
}

footer a {
  text-decoration: none;
  display: block;
}

footer .logo {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 22px;
}

.address-list li:not(:last-child) {
  margin-bottom: 9px;
}

.address-item {
  font-size: 14px;
  font-style: normal;
}

footer .address-item a {
  color: rgba(255, 255, 255, 0.6);
}

footer .join {
  margin-top: 60px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer .social {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list-footer {
  margin-right: 10px;
}

.social-list-footer:last-child {
  margin-right: 0;
}

.social-link-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover, .social-link-footer:focus {
  cursor: pointer;
  background-color: #2196f3;
  border-radius: 50%;
}

.social-icon-footer {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.form {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2f303a;
  width: 100%;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .form {
    height: 50px;
    margin-right: 10px;
    min-width: 350px;
  }
}

.form::-webkit-input-placeholder {
  margin-left: 15px;
}

.form:-ms-input-placeholder {
  margin-left: 15px;
}

.form::-ms-input-placeholder {
  margin-left: 15px;
}

.form::placeholder {
  margin-left: 15px;
}

.f-button {
  margin-top: 20px;
  position: relative;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  height: 50px;
  width: 200px;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 768px) {
  .f-button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.button-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(150%, -50%);
          transform: translate(150%, -50%);
  opacity: 0;
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.f-button:hover .button-svg {
  opacity: 1;
}

.f-button:hover {
  background-color: #0977d1;
}

.f-button p {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
}

.f-button:hover p {
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
}

.form {
  padding-left: 30px;
}

.form:focus,
.form:hover {
  background-color: #2f303a;
  color: #fff;
  outline: none;
  cursor: pointer;
}

p {
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  background-color: #2196f3;
  fill: #fff;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 530px;
  padding: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #212121;
}

.input-item {
  height: 40px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  padding-right: 18px;
  cursor: pointer;
}

.input-item:hover .input-svg,
.input-item:focus .input-svg {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.input-item.comment {
  height: 120px;
  padding: 12px 16px;
}

.label-item.comment {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: translate(16px, 12px);
          transform: translate(16px, 12px);
  text-align: start;
}

.input-item:not(:placeholder-shown) ~ .label-item,
.input-item:focus ~ .label-iteml {
  color: #188ce8;
  -webkit-transform: translate(0px, -20px);
          transform: translate(0px, -20px);
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-field:focus-within .input-item {
  border: 1px solid #2196f3;
}

.form-field:focus-within .input-svg {
  fill: #2196f3;
}

.input-item:hover {
  border: 1px solid #2196f3;
}

.label-item {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(42px, 11px);
          transform: translate(42px, 11px);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field:focus-within .label-item {
  color: #188ce8;
  -webkit-transform: translate(0px, -20px);
          transform: translate(0px, -20px);
}

.input-svg {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(100%, 110%);
          transform: translate(100%, 110%);
  fill: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.checkbox-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-label a {
  margin-left: 4px;
}

.checkbox-label::before {
  content: "";
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #000;
  border-radius: 3px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-field:checked ~ .checkbox-label::before {
  background-image: url(../images/accept.svg);
  background-color: #2196f3;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #188ce8;
}

.submit-btn {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  color: #fff;
  border: 1px solid #188ce8;
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:focus,
.submit-btn:hover {
  background-color: #0977d1;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}
/*# sourceMappingURL=main.css.map */