footer {
  color: $whiteColor;
  background-color: $footerBg;
}

footer .container {
  margin-top: 60px;
  padding-top: 60px;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 28px;
  }

  //   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

footer a {
  text-decoration: none;
  display: block;
}

footer .logo {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-right: 0;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
  }

  color: $whiteColor;
  font-size: 22px;
}

.address-list li:not(:last-child) {
  margin-bottom: 9px;
}

.address-item {
  font-size: 14px;
  font-style: normal;
}

footer .address-item a {
  color: rgba(255, 255, 255, 0.6);
}

footer .join {
  margin-top: 60px;
  font-weight: bold;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

footer .social {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .copyrights {
//   display: block;
//   font-size: 12px;
//   line-height: 2;
//   text-align: center;
//   color: rgba(255, 255, 255, 0.4);
//   padding-top: 18px;
//   padding-bottom: 21px;
// }

.social-list-footer {
  margin-right: 10px;
}

.social-list-footer:last-child {
  margin-right: 0;
}

.social-link-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  display: flex;
  color: $whiteColor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $accentColor;
    border-radius: 50%;
  }
}

.social-icon-footer {
  fill: $whiteColor;
}

.form-item {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.form {
  display: block;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: $footerBg;

  width: 100%;
  height: 50px;

  @media screen and (min-width: 768px) {
    height: 50px;
    margin-right: 10px;
    min-width: 350px;
  }
}

.form::placeholder {
  margin-left: 15px;
}

.f-button {
  margin-top: 20px;

  position: relative;
  background-color: $accentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  height: 50px;
  width: 200px;
  color: $whiteColor;

  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 768px) {
    align-items: center;
    display: flex;
  }
}

.button-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(150%, -50%);
  opacity: 0;
  transition-duration: 350ms;
  transition-delay: 100ms;
}

.f-button:hover .button-svg {
  opacity: 1;
}

.f-button:hover {
  background-color: $bthHovColor;
}

.f-button p {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: bold;

  transition-duration: 350ms;
}

.f-button:hover p {
  transform: translate(-70%, -50%);
}

.form {
  padding-left: 30px;
}

.form:focus,
.form:hover {
  background-color: #2f303a;
  color: #fff;
  outline: none;
  cursor: pointer;
}
