.team-cntainer {
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.palyers {
  justify-content: center;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.list-team {
  margin-right: 30px;
  background-color: $whiteColor;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.list-team:last-child {
  margin-right: 0;
}

.name {
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: $textColor;
}

.specialty {
  margin-top: 10px;

  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $contactsColor;
}

.social-link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.social-list-svg {
  margin-right: 10px;
}
.social-list-svg:last-child {
  margin-right: 0;
}

.social-link-svg {
  align-items: center;
  justify-content: center;
  display: flex;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $whiteColor;

  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1) color 250ms;
}

.social-link-svg:focus,
.social-link-svg:hover {
  cursor: pointer;
  background-color: $accentColor;
}

.social-icon {
  fill: #afb1b8;
}
.social-link-svg:focus svg,
.social-link-svg:hover svg {
  fill: currentColor;
}
