.section-virtues {
  @extend %sectionCenter;
}

.list-virtues {
  margin-right: 30px;
}

.list-virtues:last-child {
  margin-right: 0;
}

.virtues-svg {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.header-virtues {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}
.head {
  width: 270px;
  height: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.text-virtues {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
