%container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  padding-right: 15px;
  padding-left: 15px;
}

%flexCenter {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%sectionCenter {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

%sectionHeader {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: $textColor;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 94px;
}
